<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lista de Filmes</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h1 class="my-4">Lista de Filmes</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Gênero</th>
                        <th>Ano de Lançamento</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="filme : ${filmes}">
                        <td th:text="${filme.titulo}"></td>
                        <td th:text="${filme.genero}"></td>
                        <td th:text="${filme.anoLancamento}"></td>
                        <td>
                            <a th:href="@{/filmes/detalhe-editar(filmeId=${filme.id})}" class="btn btn-warning btn-sm">Editar</a>
                            <form th:action="@{/filmes/deletar}" method="post" style="display:inline;">
                                <input type="hidden" name="filmeId" th:value="${filme.id}"/>
                                <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
            <a class="btn btn-primary mt-4" href="/filmes/cadastro">Cadastrar Novo Filme</a>
        </div>
    </body>
</html>
